.log-in-user {
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.log-in-user .overlap-wrapper {
  background-color: #cccccc;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.log-in-user .overlap {
  height: 1891px;
  left: -122px;
  position: relative;
  top: -637px;
  width: 2218px;
}

.log-in-user .rectangle {
  height: 727px;
  left: 122px;
  object-fit: cover;
  position: absolute;
  top: 894px;
  width: 1146px;
}

.log-in-user .div {
  background-color: #cecece;
  height: 1015px;
  left: 121px;
  position: absolute;
  top: 438px;
  transform: rotate(31.89deg);
  width: 1949px;
}

.log-in-user .polygon {
  height: 200px;
  left: 1876px;
  position: absolute;
  top: 1028px;
  width: 166px;
}

.log-in-user .img {
  height: 200px;
  left: 1782px;
  position: absolute;
  top: 1199px;
  width: 173px;
}

.log-in-user .polygon-2 {
  height: 200px;
  left: 1396px;
  position: absolute;
  top: 1208px;
  width: 173px;
}

.log-in-user .polygon-3 {
  height: 156px;
  left: 314px;
  position: absolute;
  top: 637px;
  width: 173px;
}

.log-in-user .polygon-4 {
  height: 200px;
  left: 1873px;
  position: absolute;
  top: 1372px;
  width: 169px;
}

.log-in-user .polygon-5 {
  height: 200px;
  left: 211px;
  position: absolute;
  top: 760px;
  width: 173px;
}

.log-in-user .polygon-6 {
  height: 200px;
  left: 1493px;
  position: absolute;
  top: 1373px;
  width: 173px;
}

.log-in-user .polygon-7 {
  height: 160px;
  left: 122px;
  position: absolute;
  top: 637px;
  width: 166px;
}

.log-in-user .polygon-8 {
  height: 200px;
  left: 1682px;
  position: absolute;
  top: 1372px;
  width: 173px;
}

.log-in-user .polygon-9 {
  height: 200px;
  left: 1689px;
  position: absolute;
  top: 1038px;
  width: 173px;
}

.log-in-user .polygon-10 {
  height: 200px;
  left: 1976px;
  position: absolute;
  top: 862px;
  width: 66px;
}


.log-in-user .rectangle-2 {
  background-color: #6b6b6b80;
  border-radius: 20px;
  height: 450px;
  left: 855px;
  position: absolute;
  top: 900px;
  width: 450px;
}

.log-in-user .rectangle-3 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 50px;
  left: 880px;
  position: absolute;
  top: 981px;
  width: 400px;
}

.log-in-user .rectangle-4 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 50px;
  left: 880px;
  position: absolute;
  top: 1119px;
  width: 400px;
  
}

.log-in-user .rectangle-5 {
  height: 58px;
  left: 876px;
  position: absolute;
  top: 1269px;
  width: 183px;
  
}

.log-in-user .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 885px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 929px;
  white-space: nowrap;
  width: 260px;
}

.log-in-user .password {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 880px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1056px;
  white-space: nowrap;
  width: 281px;
}

.log-in-user .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 919px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1276px;
  white-space: nowrap;
  width: 121px;
}

.log-in-user .rectangle-6 {
  height: 58px;
  left: 1106px;
  position: absolute;
  top: 1269px;
  width: 183px;
  z-index: 1;
}

.log-in-user .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 1138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1274px;
  transform: rotate(-0.23deg);
  white-space: nowrap;
  width: 175px;
  z-index: 2;
}

.log-in-user .vector {
  height: 5px;
  left: 1938px;
  position: absolute;
  top: 1230px;
  width: 12px;
}

.log-in-user .rectangle-7 {
  background-color: #046683;
  height: 105px;
  left: 112px;
  position: absolute;
  top: 1614px;
  width: 1930px;
}

.log-in-user .frame {
  height: 72px;
  left: 298px;
  position: absolute;
  top: 645px;
  width: 1920px;
}

.log-in-user .overlap-group {
  height: 72px;
  left: -174px;
  position: relative;
  top: -12px;
  width: 1924px;
}

.log-in-user .div-wrapper {
  background-color: #5b89bf;
  height: 48px;
  left: 654px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 16px;
}

.log-in-user .text-wrapper-4 {
  color: #ffffff;
  font-family: "Noto Sans-DisplayRegular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 268px;
  left: 8px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 25px;
  width: 10px;
}

.log-in-user .frame-2 {
  background-color: #046683;
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1924px;
}

.log-in-user .overlap-group-2 {
  height: 40px;
  left: 322px;
  position: absolute;
  top: 16px;
  width: 1557px;
}

.log-in-user .auto-layout-wrapper {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.log-in-user .auto-layout {
  align-items: flex-start;
  display: inline-flex;
  gap: 418.66px;
  left: 470px;
  position: relative;
}

.log-in-user .frame-3 {
  height: 40px;
  position: relative;
  width: 388.16px;
}

.log-in-user .frame-4 {
  height: 40px;
  left: 1164px;
  position: absolute;
  top: 0;
  width: 393px;
}

.log-in-user .auto-layout-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #d0d7de;
  border-radius: 6px;
  display: inline-flex;
  left: 321px;
  padding: 5px 9.27px 5px 9px;
  position: absolute;
  top: 3px;
}

.log-in-user .text-wrapper-5 {
  color: #ffffff;
  font-family: "Noto Sans-DisplayRegular", Helvetica;
  font-size: px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.log-in-user .frame-5 {
  height: 40px;
  left: -97px;
  position: absolute;
  top: 0;
  width: 393px;
}

.log-in-user .auto-layout-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #d0d7de;
  border-radius: 6px;
  display: inline-flex;
  left: 294px;
  padding: 5px 9.27px 5px 9px;
  position: relative;
  top: 3px;
}

.log-in-user .ellipse {
  height: 60px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 60px;
}



.log-in-user .frame-7 {
  height: 18px;
  left: 174px;
  position: absolute;
  top: 1662px;
  width: 454px;
} 

.log-in-user .text-wrapper-6 {
  color: #ffffff;
  font-family: "Noto Sans-DisplayRegular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.log-in-user .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 871px;
  letter-spacing: -0.96px;
  line-height: 48px;
  position: absolute;
  top: 823px;
  width: 514px;
}


