.log-in-user {
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.log-in-user .overlap-wrapper {
  background-color: #cccccc;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.log-in-user .overlap {
  height: 1891px;
  left: -285px;
  position: relative;
  top: -723px;
  width: 2191px;
}

.log-in-user .overlap-group {
  height: 1891px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2191px;
}

.log-in-user .rectangle {
  height: 651px;
  left: 285px;
  object-fit: cover;
  position: absolute;
  top: 1056px;
  width: 975px;
}

.log-in-user .div {
  background-color: #cecece;
  height: 1015px;
  left: 121px;
  position: absolute;
  top: 438px;
  transform: rotate(31.89deg);
  width: 1949px;
}

.log-in-user .polygon {
  height: 200px;
  left: 1550px;
  position: absolute;
  top: 852px;
  width: 173px;
}

.log-in-user .img {
  height: 200px;
  left: 1549px;
  position: absolute;
  top: 1185px;
  width: 173px;
}

.log-in-user .polygon-2 {
  height: 200px;
  left: 1259px;
  position: absolute;
  top: 1020px;
  width: 173px;
}

.log-in-user .polygon-3 {
  height: 156px;
  left: 477px;
  position: absolute;
  top: 723px;
  width: 173px;
}

.log-in-user .polygon-4 {
  height: 200px;
  left: 1652px;
  position: absolute;
  top: 1348px;
  width: 73px;
}

.log-in-user .polygon-5 {
  height: 200px;
  left: 374px;
  position: absolute;
  top: 846px;
  width: 173px;
}

.log-in-user .polygon-6 {
  height: 200px;
  left: 1354px;
  position: absolute;
  top: 1185px;
  width: 173px;
}

.log-in-user .polygon-7 {
  height: 200px;
  left: 1454px;
  position: absolute;
  top: 1020px;
  width: 173px;
}

.log-in-user .polygon-8 {
  height: 160px;
  left: 285px;
  position: absolute;
  top: 723px;
  width: 166px;
}

.log-in-user .polygon-9 {
  height: 200px;
  left: 1254px;
  position: absolute;
  top: 1358px;
  width: 173px;
}

.log-in-user .rectangle-2 {
  background-color: #6b6b6b80;
  border-radius: 20px;
  height: 301px;
  left: 854px;
  position: absolute;
  top: 993px;
  width: 301px;
}

.log-in-user .rectangle-3 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 24px;
  left: 875px;
  position: absolute;
  top: 1042px;
  width: 259px;
}

.log-in-user .rectangle-4 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 23px;
  left: 875px;
  position: absolute;
  top: 1138px;
  width: 259px;
}

.log-in-user .rectangle-5 {
  background-color: #48a0b6;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 34px;
  left: 875px;
  position: absolute;
  top: 1205px;
  width: 113px;
}

.log-in-user .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 875px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1007px;
  white-space: nowrap;
  width: 125px;
}

.log-in-user .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 872px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1104px;
  white-space: nowrap;
  width: 128px;
}

.log-in-user .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 903px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1208px;
  white-space: nowrap;
  width: 57px;
}

.log-in-user .rectangle-6 {
  height: 42px;
  left: 1018px;
  position: absolute;
  top: 1205px;
  width: 123px;
}

.log-in-user .text-wrapper-4 {
  color: #00000033;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1044px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1209px;
  transform: rotate(-0.23deg);
  white-space: nowrap;
  width: 85px;
}

.log-in-user .rectangle-7 {
  background-color: #046683;
  height: 105px;
  left: 241px;
  position: absolute;
  top: 1646px;
  width: 1484px;
}

.log-in-user .frame {
  height: 72px;
  left: 285px;
  position: absolute;
  top: 723px;
  width: 1440px;
}

.log-in-user .overlap-group-2 {
  height: 72px;
  position: relative;
}

.log-in-user .div-wrapper {
  background-color: #5b89bf;
  height: 48px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 16px;
}

.log-in-user .text-wrapper-5 {
  color: #ffffff;
  font-family: "Noto Sans-DisplayRegular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 268px;
  left: 8px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 25px;
  width: 10px;
}

.log-in-user .frame-wrapper {
  background-color: #046683;
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.log-in-user .frame-2 {
  height: 40px;
  left: 80px;
  position: relative;
  top: 16px;
  width: 1280px;
}

.log-in-user .auto-layout {
  align-items: flex-start;
  display: inline-flex;
  gap: 418.66px;
  left: 64px;
  position: absolute;
  top: 0;
}

.log-in-user .frame-3 {
  height: 40px;
  position: relative;
  width: 388.16px;
}

.log-in-user .frame-4 {
  height: 40px;
  position: relative;
  width: 393.19px;
}

.log-in-user .auto-layout-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #d0d7de;
  border-radius: 6px;
  display: inline-flex;
  left: 321px;
  padding: 5px 9.27px 5px 9px;
  position: absolute;
  top: 3px;
}

.log-in-user .text-wrapper-6 {
  color: #ffffff;
  font-family: "Noto Sans-DisplayRegular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.log-in-user .auto-layout-wrapper {
  height: 40px;
  left: -97px;
  position: absolute;
  top: 0;
  width: 393px;
}

.log-in-user .auto-layout-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #d0d7de;
  border-radius: 6px;
  display: inline-flex;
  left: 294px;
  padding: 5px 9.27px 5px 9px;
  position: relative;
  top: 3px;
}

.log-in-user .ellipse {
  height: 60px;
  left: -6px;
  object-fit: cover;
  position: absolute;
  top: -12px;
  width: 60px;
}

.log-in-user .frame-5 {
  height: 68px;
  left: 382px;
  position: absolute;
  top: 1665px;
  width: 1280px;
}

.log-in-user .frame-6 {
  height: 20px;
  left: 1030px;
  position: absolute;
  top: 24px;
  width: 234px;
}

.log-in-user .frame-7 {
  height: 18px;
  left: 16px;
  position: absolute;
  top: 25px;
  width: 454px;
}

.log-in-user .text-wrapper-7 {
  color: #ffffff;
  font-family: "Noto Sans-DisplayRegular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.log-in-user .text-wrapper-8 {
  color: #000000;
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  left: 854px;
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  position: absolute;
  top: 927px;
  width: 514px;
}

.log-in-user .vector {
  height: 5px;
  left: 2153px;
  position: absolute;
  top: 1365px;
  width: 12px;
}
