.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 2100px;
  position: relative;
}

.main .overlap {
  position: absolute;
  width: 1942px;
  height: 379px;
  top: 81px;
  left: -22px;
}

.main .overlap-group {
  position: absolute;
  width: 1942px;
  height: 379px;
  top: 0;
  left: 0;
  padding-top: 12rem;
}

.main .rectangle-2 {
  position: absolute;
  width: 794px;
  height: 131px;
  top: 12px;
  left: 0;
  background-color: #efd7adad;
}

.main .rectangle-3 {
  position: absolute;
  width: 847px;
  height: 100px;
  top: 12px;
  left: 12px;
  background-color: #48a0b6cc;
}

.main .text-wrapper {
  position: absolute;
  top: 46px;
  left: 247px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: #000000;
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  white-space: nowrap;
  font-style: var(--h2-font-style);
}

.main .img {
  position: absolute;
  width: 166px;
  height: 185px;
  top: 0;
  left: 751px;
}

.main .ellipse {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 226px;
  left: 166px;
}

.main .rectangle-4 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 250px;
  left: 1402px;
  border-radius: 10px;
  background-color: #046683;
}

.main .text-wrapper-2 {
  top: 265px;
  left: 1453px;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.main .ellipse-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 226px;
  left: 166px;
  object-fit: cover;
}

.main .password {
  top: 263px;
  left: 342px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .password-2 {
  top: 263px;
  left: 843px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .content-wrapper {
  position: absolute;
  width: 545px;
  height: 87px;
  top: 40px;
  left: 933px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-208.svg);
  background-size: 100% 100%;
} /*Change Top 72 --> 40*/

.main .content {
  display: flex;
  width: 517px;
  height: 61px;
  align-items: center;
  padding: 8px;
  position: relative;
  top: 12px;
  left: 13px;
  background-color: var(--system-materialssm-l-thick);
  border-radius: 10px;
}

.main .magnifyingglass {
  position: relative;
  width: 28px;
  height: 28px;
}

.main .magnifyingglass-2 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--label-colorslc-l-secondary);
  font-size: 11.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32.1px;
  white-space: nowrap;
  width: 28px;
  height: 28px;
}

.main .placeholder-label {
  position: relative;
  flex: 1;
  font-family: var(--default-size-body-font-family);
  font-weight: var(--default-size-body-font-weight);
  color: var(--label-colorslc-l-secondary);
  font-size: var(--default-size-body-font-size);
  letter-spacing: var(--default-size-body-letter-spacing);
  line-height: var(--default-size-body-line-height);
  font-style: var(--default-size-body-font-style);
}

.main .overlap-2 {
  position: absolute;
  width: 243px;
  height: 98px;
  top: 200px;
  left: 1400px;
  border-radius: 20px;
}

.main .rectangle-5 {
  position: absolute;
  width: 443px;
  height: 98px;
  top: 0;
  left: 0;
  background-color: #dcbd85;
  border-radius: 20px;
}

.main .cart {
  position: absolute;
  width: 71px;
  height: 67px;
  top: 16px;
  left: 20px;
  object-fit: cover;
}

.main .rectangle-6 {
  position: absolute;
  width: 300px;
  height: 67px;
  top: 16px;
  left: 105px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 10px;
} 

.main .total-price {
  position: absolute;
  width: 100px;
  height: 67px;
  top: 30px;
  left: 140px;
  font-weight: 700;
  border-radius: 10px;
  white-space: nowrap;
  font-size: 38px;
  color: red;
  text-decoration: none;
} /*Add This CSS*/


.main .frame {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: 0;
  left: 0;
}

.main .overlap-group-2 {
  position: relative;
  height: 72px;
}

.main .div-wrapper {
  position: absolute;
  width: 16px;
  height: 48px;
  top: 0;
  left: 480px;
  background-color: #5b89bf;
  overflow: hidden;
}

.main .text-wrapper-3 {
  position: absolute;
  width: 10px;
  height: 268px;
  top: 25px;
  left: 8px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.main .frame-2 {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #046683;
}

.main .auto-layout-wrapper {
  position: absolute;
  width: 1280px;
  height: 40px;
  top: 16px;
  left: 320px;
}

.main .auto-layout {
  display: inline-flex;
  align-items: flex-start;
  gap: 418.66px;
  position: relative;
  left: 64px;
}

.main .frame-3 {
  position: relative;
  width: 388.16px;
  height: 40px;
}

.main .frame-4 {
  position: relative;
  width: 393.19px;
  height: 40px;
}

.main .log-out-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 5px 9.27px 5px 9px;
  position: absolute;
  top: 22px;
  left: 1748px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #d0d7de;
}

.main .log-out {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main .ellipse-3 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 4px;
  left: 84px;
  object-fit: cover;
}

.main .user {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 19px;
  left: 1842px;
  object-fit: cover;
}

.main .overlap-3 {
  position: absolute;
  width: 1930px;
  height: 192px;
  top: 1914px;
  left: 0;
}

.main .frame-wrapper {
  position: absolute;
  width: 1280px;
  height: 68px;
  top: 80px;
  left: 110px;
  opacity: 0.42;
}

.main .frame-5 {
  position: relative;
  width: 454px;
  height: 18px;
  top: 25px;
  left: 16px;
}

.main .text-wrapper-4 {
  position: absolute;
  height: 18px;
  top: 25px;
  left: -10px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.main .overlap-4 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1060px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main .ellipse-wrapper {
  position: relative;
  margin: 2rem;
  width: 100px;
  height: 100px;
  top: 20px;
  left: 130px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main .ellipse-4 {
  position: relative;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main .overlap-6 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1260px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main .img-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 47px;
  left: 123px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main .overlap-7 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 72px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg);*/
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 10px;
} /* add border and change color */

.main .password-5 {
  top: 70px;
  left: 305px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .password-6 {
  top: 71px;
  left: 820px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .overlap-8 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1460px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main .overlap-9 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 123px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main .password-7 {
  top: 57px;
  left: 303px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .password-8 {
  top: 61px;
  left: 820px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .overlap-10 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 60px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg); */
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 10px;
} /* add border and change color */

.main .overlap-11 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1660px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main .overlap-12 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 137px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main .password-9 {
  top: 70px;
  left: 319px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .overlap-13 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 72px;
  left: 1376px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg); */
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 10px;
} /* add border and change color */

.main .overlap-14 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 860px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main .overlap-15 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 33px;
  left: 130px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main .password-10 {
  top: 46px;
  left: 312px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .overlap-16 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 49px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg); */
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 10px;
} /* add border and change color */

.main .password-11 {
  top: 46px;
  left: 820px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .overlap-17 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 660px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main .overlap-18 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 41px;
  left: 137px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main .password-12 {
  top: 58px;
  left: 312px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .overlap-19 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 57px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg); */
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 10px;
} /* add border and change color */

.main .password-13 {
  top: 58px;
  left: 820px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .overlap-20 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 460px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main .overlap-21 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 32px;
  left: 144px;
  background-image: url(https://c.animaapp.com/o1y6PJVY/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main .overlap-22 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 43px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg); */
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 10px;
}

.main .password-14 {
  top: 59px;
  left: 318px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.main .overlap-24 {
  position: absolute;
  width: 384px;
  height: 100px;
  top: 200px;
  left: 100px;
}

.main .rectangle-7 {
  position: absolute;
  width: 350px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #efd7add9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.main .text-wrapper-7 {
  width: 294px;
  top: 26px;
  left: 20px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.main .overlap-25 {
  position: absolute;
  width: 394px;
  height: 100px;
  top: 200px;
  left: 500px;
}

.main .text-wrapper-8 {
  width: 284px;
  top: 26px;
  left: 30px;
  color: #000000;
  font-size: 36px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.main .overlap-26 {
  position: absolute;
  width: 358px;
  height: 100px;
  top: 200px;
  left: 900px;
}

.main .text-wrapper-9 {
  width: 288px;
  top: 26px;
  left: 35px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.main .window-food {
  position: absolute;
  width: 1927px;
  height: 2000px;
  top: 415px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}

.main .card-detail {
  display: flex;
  color: #333;
  font-size: 60px;
  text-decoration: none; 
  padding: 30px;
  align-items: center;
  height: 200px;
  background-color: #d9d9d9b2;
  border: 1px solid;
}

.main .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 150px;
}

.main .menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .menu-name {
  position: absolute;
  left: 450px;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .menu-cost {
  position: absolute;
  left: 950px;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .minus-button {
  position: relative;
  width: 60px;
  height: 60px;
  top: 0px;
  left: 1200px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg); */
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 50%;
  font-size: 36px;
} /* add border and change color */

.main .quantity  {
  position: relative;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 1265px;
  font-size: 48px;
}

.main .add-button {
  position: relative;
  width: 60px;
  height: 60px;
  top: 0px;
  left: 1300px;
  /* background-image: url(https://c.animaapp.com/o1y6PJVY/img/rectangle-174-1.svg); */
  background-color: #046683;
  background-size: 100% 100%;
  border-radius: 50%;
  font-size: 36px;
} /* add border and change color */

/*ตรง QUEUE*/

.main .rectangle-8 {
  position: absolute;
  width: 350px;
  height: 89px;
  top: 40px;
  left: 1550px;
  background-color: #77d875;
  border: 3px solid;
  border-radius: 20px;
}

.main .text-wrapper-5 {
  width: 262px;
  top: 60px;
  left: 1625px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

/**/