.resever {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.resever .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.resever .frame {
  position: absolute;
  width: 464px;
  height: 72px;
  top: 0;
  left: 0;
}

.resever .div-wrapper {
  position: absolute;
  width: 16px;
  height: 48px;
  top: 0;
  left: -976px;
  background-color: #5b89bf;
  overflow: hidden;
}

.resever .text-wrapper {
  position: absolute;
  width: 10px;
  height: 268px;
  top: 25px;
  left: 8px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.resever .overlap-group-wrapper {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #046683;
}

.resever .overlap-group {
  position: relative;
  width: 1822px;
  height: 46px;
  top: 14px;
  left: 102px;
}

.resever .ellipse-wrapper {
  position: absolute;
  width: 1280px;
  height: 46px;
  top: 0;
  left: 0;
}

.resever .ellipse {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -12px;
  left: -6px;
  object-fit: cover;
}

.resever .auto-layout {
  display: inline-flex;
  align-items: flex-start;
  gap: 418.66px;
  position: absolute;
  top: 0;
  left: 622px;
}

.resever .frame-2 {
  position: relative;
  width: 388.16px;
  height: 40px;
}

.resever .frame-3 {
  position: relative;
  width: 393.19px;
  height: 40px;
}

.resever .log-out-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 5px 9.27px 5px 9px;
  position: absolute;
  top: 6px;
  left: 196px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #d0d7de;
}

.resever .log-out {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.resever .user {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 3px;
  left: 299px;
  object-fit: cover;
}

.resever .overlap {
  position: absolute;
  width: 1920px;
  height: 182px;
  top: 898px;
  left: 0;
}

.resever .rectangle {
  position: absolute;
  width: 1920px;
  height: 98px;
  top: 84px;
  left: 0;
}

.resever .img {
  position: absolute;
  width: 1920px;
  height: 89px;
  top: 0;
  left: 0;
}

.resever .password {
  width: 1000px;
  top: 24px;
  left: 89px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .frame-wrapper {
  position: absolute;
  width: 1280px;
  height: 68px;
  top: 84px;
  left: 89px;
  opacity: 0.42;
}

.resever .frame-4 {
  position: relative;
  width: 454px;
  height: 18px;
  top: 25px;
  left: 16px;
}

.resever .text-wrapper-2 {
  position: absolute;
  height: 18px;
  top: 25px;
  left: -10px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.resever .rectangle-2 {
  position: absolute;
  width: 334px;
  height: 62px;
  top: 14px;
  left: 1555px;
  background-color: #d9d9d9b2;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.resever .text-wrapper-3 {
  position: absolute;
  top: 24px;
  left: 1565px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .rectangle-3 {
  position: absolute;
  width: 334px;
  height: 62px;
  top: 14px;
  left: 1155px;
  background-color: #d9d9d9b2;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.resever .text-wrapper-4 {
  position: absolute;
  top: 24px;
  left: 1165px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .queue {
  width: 371px;
  top: 84px;
  left: 133px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .menu-col {
  width: 371px;
  top: 81px;
  left: 578px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .count {
  width: 371px;
  top: 84px;
  left: 949px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .price-col {
  width: 349px;
  top: 81px;
  left: 1461px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .reserve-item {
  position: relative;
  width: 1920px;
  height: 200px;
  top: 0px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.resever .price {
  width: 371px;
  top: 80px;
  left: 1404px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .overlap-4 {
  position: absolute;
  width: 716px;
  height: 24px;
  top: 81px;
  left: 172px;
}

.resever .Resever_id {
  width: 371px;
  top: 75px;
  left: 170px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .Menu {
  width: 371px;
  top: 75px;
  left: 525px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .amount {
  width: 371px;
  top: 80px;
  left: 984px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.resever .overlap-5 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 472px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.resever .overlap-6 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 672px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}
.resever .circle {
  position:absolute;
  width: 125px;
  height: 125px;
  top: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 150px;
}

.resever .menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.resever .window-reserve {
  position: relative;
  width: 1920px;
  height: 800px;
  top: 272px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}
.resever .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 72px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}