/**/
.user-profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-profile .div {
  background-color: #ffffff;
  width: 1920px;
  height: 2000px;
  position: relative;
}

.user-profile .frame {
  position: absolute;
  width: 464px;
  height: 72px;
  top: 0;
  left: 0;
}

.user-profile .div-wrapper {
  position: absolute;
  width: 16px;
  height: 48px;
  top: 0;
  left: -976px;
  background-color: #5b89bf;
  overflow: hidden;
}

.user-profile .text-wrapper {
  position: absolute;
  width: 10px;
  height: 268px;
  top: 25px;
  left: 8px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.user-profile .overlap-group-wrapper {
  position: absolute;
  width: 1930px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #046683;
}

.user-profile .overlap-group {
  position: relative;
  width: 1822px;
  height: 46px;
  top: 14px;
  left: 102px;
}

.user-profile .ellipse-wrapper {
  position: absolute;
  width: 1280px;
  height: 46px;
  top: 0;
  left: 0;
}

.user-profile .ellipse {
  width: 60px;
  height: 60px;
  top: -12px;
  left: -6px;
  position: absolute;
  object-fit: cover;
}

.user-profile .auto-layout {
  display: inline-flex;
  align-items: flex-start;
  gap: 418.66px;
  position: absolute;
  top: 0;
  left: 622px;
}

.user-profile .frame-2 {
  position: relative;
  width: 388.16px;
  height: 40px;
}

.user-profile .frame-3 {
  position: relative;
  width: 393.19px;
  height: 40px;
}

.user-profile .log-out-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 5px 9.27px 5px 9px;
  position: absolute;
  top: 6px;
  left: 196px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #d0d7de;
}

.user-profile .log-out {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.user-profile .user {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 3px;
  left: 299px;
  object-fit: cover;
}

.user-profile .overlap {
  /* position: relative; */
  width: 1920px;
  height: 104px;
  /* top: 1896px; */
  left: 0;
  background-image: url(https://c.animaapp.com/uIdWEvuc/img/rectangle-136.svg);
  background-size: 100% 100%;
}

.user-profile .frame-wrapper {
  position: relative;
  width: 1280px;
  height: 68px;
  left: 104px;
  opacity: 0.42;
}

.user-profile .frame-4 {
  position: relative;
  width: 454px;
  height: 18px;
  top: 25px;
  left: 16px;
}

.user-profile .text-wrapper-2 {
  position: absolute;
  height: 18px;
  top: 25px;
  left: -10px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.user-profile .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 700px;
  top: 72px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.user-profile .img {
  width: 250px;
  height: 250px;
  top: 114px;
  left: 78px;
  position: absolute;
  object-fit: cover;
}

.user-profile .overlap-3 {
  position: absolute;
  width: 604px;
  height: 128px;
  top: 68px;
  left: 468px;
}

.user-profile .text-wrapper-3 {
  width: 562px;
  top: 15px;
  left: 0;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  position: absolute;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #000000;
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.user-profile .rectangle {
  position: absolute;
  width: 500px;
  height: 75px;
  top: 0;
  left: 104px;
  background-color: #ffffff;
}

span {
  position: relative;
  font-family: "Noto Sans", Helvetica;
  font-weight: bold; /* ตัวหนา */
}

.user-profile .overlap-4 {
  position: absolute;
  width: 1302px;
  height: 169px;
  top: 202px;
  left: 474px;
}

.user-profile .text-wrapper-4 {
  position: absolute;
  width: 568px;
  top: 11px;
  left: 0;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #000000;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.user-profile .rectangle-2 {
  position: absolute;
  width: 1000px;
  height: 75px;
  top: 0;
  left: 302px;
  background-color: #ffffff;
}

.user-profile .overlap-5 {
  position: absolute;
  width: 1231px;
  height: 174px;
  top: 381px;
  left: 472px;
}

.user-profile .text-wrapper-5 {
  width: 600px;
  top: 12px;
  left: 0;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  position: absolute;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #000000;
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.user-profile .rectangle-3 {
  position: absolute;
  width: 1000px;
  height: 75px;
  top: 0;
  left: 231px;
  background-color: #ffffff;
}

.user-profile .overlap-6 {
  position: absolute;
  width: 1202px;
  height: 107px;
  top: 556px;
  left: 480px;
}

.user-profile .text-wrapper-6 {
  position: absolute;
  width: 528px;
  top: 15px;
  left: 0;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #000000;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.user-profile .rectangle-4 {
  position: absolute;
  width: 1000px;
  height: 75px;
  top: 0;
  left: 202px;
  background-color: #ffffff;
}

.user-profile .overlap-7 {
  position: absolute;
  width: 286px;
  height: 62px;
  top: 414px;
  left: 84px;
}

.user-profile .rectangle-5 {
  position: absolute;
  width: 253px;
  height: 62px;
  top: 0;
  left: 0;
  background-color: #dcbd85;
  border-radius: 15px;
  border: 3px solid;
  border-color: #000000;
}

.user-profile .text-wrapper-7 {
  position: absolute;
  width: 252px;
  top: 4px;
  left: 34px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  letter-spacing: -0.56px;
  line-height: 48px;
  white-space: nowrap;
}

.user-profile .text-edit {
  position: absolute;
  width: 252px;
  top: 4px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  letter-spacing: -0.56px;
  line-height: 48px;
  white-space: nowrap;
}

.user-profile .overlap-8 {
  position: absolute;
  width: 709px;
  height: 130px;
  top: 66px;
  left: 1141px;
}

.user-profile .text-wrapper-8 {
  width: 562px;
  top: 17px;
  left: 0;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  position: absolute;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #000000;
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.user-profile .rectangle-6 {
  position: absolute;
  width: 500px;
  height: 75px;
  top: 0;
  left: 209px;
  background-color: #ffffff;
}

.user-profile .window-reserve {
  position: relative;
  width: 1927px;
  height: 1130px;
  top: 770px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}
.user-profile .reserve_title {
  position: relative;
  width: 1920px;
  height: 100px;
  top: 30px;
  left: 0;
}
.user-profile .reserve {
  position: relative;
  width: 1920px;
  height: 200px;
  top: 0px;
  left: 0;
}

.user-profile .text-wrapper-9 {
  width: 520px;
  top: 0;
  left: 79px;
  font-size: 40px;
  letter-spacing: -0.8px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  line-height: 48px;
}

.user-profile .rectangle-7 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.pos-span {
  position: absolute;
  top: 10px;
  left: 20px;
}

.user-profile .password {
  top: 80px;
  left: 1405px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .password-2 {
  top: 80px;
  left: 172px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .password-3 {
  top: 80px;
  left: 517px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .password-4 {
  top: 80px;
  left: 971px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .overlap-10 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1125px;
  left: 0;
}

.user-profile .rectangle-8 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.user-profile .password-5 {
  position: absolute;
  width: 371px;
  top: 81px;
  left: 1405px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .password-6 {
  top: 81px;
  left: 172px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .password-7 {
  top: 81px;
  left: 517px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .password-8 {
  top: 81px;
  left: 971px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-profile .overlap-11 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1325px;
  left: 0;
}

.user-profile .report {
  position: absolute;
  width: 252px;
  top: 500px;
  left: 80px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  letter-spacing: -0.56px;
  line-height: 48px;
  white-space: nowrap;
  background-color: rgb(78, 245, 56);
  border-radius: 15px;
  border: 3px solid;
  border-color: #000000;
}