.edit-menu {
  background-color: #fffbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.edit-menu .div {
  background-color: #fffbfb;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.edit-menu .overlap {
  position: absolute;
  width: 694px;
  height: 557px;
  top: 248px;
  left: 384px;
  background-color: #6b6b6b80;
  border-radius: 20px;
}

.edit-menu .text-wrapper {
  width: 157px;
  top: 401px;
  left: 22px;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
}

.edit-menu .overlap-group {
  position: absolute;
  width: 628px;
  height: 39px;
  top: 450px;
  left: 22px;
  background-color: #ffffff;
  border-radius: 10px;
}

.edit-menu .text-wrapper-2 {
  width: 346px;
  top: 7px;
  left: 18px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
}

.edit-menu .text-wrapper-3 {
  width: 157px;
  top: 21px;
  left: 20px;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
}

.edit-menu .rectangle-4 {
  position: absolute;
  width: 628px;
  height: 39px;
  top: 200px;
  left: 22px;
  background-color: #ffffff;
  border-radius: 10px;
}

.edit-menu .overlap-2 {
  position: absolute;
  width: 628px;
  height: 42px;
  top: 325px;
  left: 22px;
}

.edit-menu .rectangle-2 {
  position: absolute;
  width: 628px;
  height: 39px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.edit-menu .rectangle-3 {
  position: absolute;
  width: 109px;
  height: 33px;
  top: 3px;
  left: 8px;
  background-color: #dcbd85;
  border-radius: 10px;
}

.edit-menu .password {
  position: absolute;
  height: 30px;
  top: 340px;
  left: 35px;
  font-family: "Inter", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  /* background-color: #dcbd85; */
  border-radius: 10px;
  border-color: #000000;
  font-size: 24px;
 
}

.edit-menu .rectangle {
  position: absolute;
  width: 628px;
  height: 39px;
  top: 74px;
  left: 22px;
  background-color: #ffffff;
  border-radius: 10px;
}

.edit-menu .text-wrapper-4 {
  width: 474px;
  top: 146px;
  left: 22px;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #000000;
}

.edit-menu .password-2 {
  position: absolute;
  width: 314px;
  top: 271px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edit-menu .vector {
  top: -6661px;
  left: -4237px;
  position: absolute;
  width: 12px;
  height: 5px;
}

.edit-menu .img {
  top: -6724px;
  left: -3460px;
  position: absolute;
  width: 12px;
  height: 5px;
}

.edit-menu .text-wrapper-5 {
  width: 514px;
  top: 121px;
  left: 64px;
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  position: absolute;
  font-family: var(--h1-font-family);
  color: #000000;
  font-style: var(--h1-font-style);
}

.edit-menu .overlap-3 {
  position: absolute;
  width: 1923px;
  height: 112px;
  top: 981px;
  left: -3px;
}

.edit-menu .rectangle-5 {
  position: absolute;
  width: 1923px;
  height: 105px;
  top: 0;
  left: 0;
  background-color: #046683;
}

.edit-menu .frame {
  position: absolute;
  width: 1280px;
  height: 68px;
  top: 44px;
  left: 55px;
}

.edit-menu .div-wrapper {
  position: relative;
  width: 454px;
  height: 18px;
  top: 7px;
  left: 28px;
}

.edit-menu .text-wrapper-6 {
  position: absolute;
  height: 18px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.edit-menu .overlap-group-wrapper {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: -1px;
  left: 0;
}

.edit-menu .overlap-group-2 {
  position: relative;
  height: 72px;
}

.edit-menu .frame-2 {
  position: absolute;
  width: 16px;
  height: 48px;
  top: 0;
  left: 480px;
  background-color: #5b89bf;
  overflow: hidden;
}

.edit-menu .text-wrapper-7 {
  position: absolute;
  width: 10px;
  height: 268px;
  top: 25px;
  left: 8px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.edit-menu .frame-3 {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #046683;
}

.edit-menu .auto-layout-wrapper {
  position: absolute;
  width: 1280px;
  height: 40px;
  top: 16px;
  left: 320px;
}

.edit-menu .auto-layout {
  display: inline-flex;
  align-items: flex-start;
  gap: 418.66px;
  position: relative;
  left: 64px;
}

.edit-menu .frame-4 {
  position: relative;
  width: 388.16px;
  height: 40px;
}

.edit-menu .frame-5 {
  position: relative;
  width: 393.19px;
  height: 40px;
}

.edit-menu .ellipse {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 12px;
  left: 76px;
  object-fit: cover;
}

.edit-menu .rectangle-6 {
  position: absolute;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  top: 248px;
  left: 70px;
  background-color: #dcbd85;
}

.edit-menu .overlap-4 {
  position: absolute;
  width: 210px;
  height: 58px;
  top: 856px;
  left: 907px;
}

.edit-menu .rectangle-7 {
  position: absolute;
  width: 183px;
  height: 58px;
  top: 0;
  left: 0;
}

.edit-menu .text-wrapper-8 {
  position: absolute;
  width: 175px;
  top: 5px;
  left: 35px;
  transform: rotate(-0.23deg);
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edit-menu .circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.edit-menu .menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
