.main-admin {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-admin .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 2500px;
  position: relative;
}

/* .main-admin .overlap {
  display: flex;
  width: 1920px;
  height: 200px;
  top: 415px;
  left: 0;
} */

.main-admin .overlap-group {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 47px;
  left: 145px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main-admin .ellipse {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 150px;
  object-fit: cover;
}

.main-admin .button-1 {
  position: absolute;
  width: 142px;
  height: 60px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px; 
  border: 2px solid;
  border-color: #000000;
} /*Change top 71 --> 46 Add BG color , Border */

.main-admin .text-wrapper {
  position: absolute;
  top: 15px;
  left: 52px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.main-admin .overlap-2 {
  position: absolute;
  width: 142px;
  height: 65px;
  left: 1615px;
}

.main-admin .rectangle {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 0;
  left: 0;
}

.main-admin .button-change {
  top: 5px;
  left: 30px;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  background-color: #F5B239;
  width: 142px;
  height: 60px;
  border-radius: 10px;
} /*Change Top 17 --> 5 ,Left 47 --> 30*/

.main-admin .password {
  position: absolute;
  left: 450px;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .password-2 {
  position: absolute;
  left: 950px;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .content-wrapper {
  position: absolute;
  width: 545px;
  height: 87px;
  top: 153px;
  left: 911px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-208.svg);
  background-size: 100% 100%;
} 

.main-admin .content {
  display: flex;
  width: 517px;
  height: 61px;
  align-items: center;
  padding: 8px;
  position: relative;
  top: 14px;
  left: 14px;
  background-color: var(--system-materialssm-l-thick);
  border-radius: 10px;
}

.main-admin .magnifyingglass {
  position: relative;
  width: 28px;
  height: 28px;
}

.main-admin .magnifyingglass-2 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: -1px;
  left: 0;
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--label-colorslc-l-secondary);
  font-size: 11.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32.1px;
  white-space: nowrap;
}

.main-admin .placeholder-label {
  position: relative;
  flex: 1;
  font-family: var(--default-size-body-font-family);
  font-weight: var(--default-size-body-font-weight);
  color: var(--label-colorslc-l-secondary);
  font-size: var(--default-size-body-font-size);
  letter-spacing: var(--default-size-body-letter-spacing);
  line-height: var(--default-size-body-line-height);
  font-style: var(--default-size-body-font-style);
}

.main-admin .frame {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: 0;
  left: 0;
}

.main-admin .overlap-group-2 {
  position: relative;
  height: 72px;
}

.main-admin .frame-2 {
  position: absolute;
  width: 16px;
  height: 48px;
  top: 0;
  left: 480px;
  background-color: #5b89bf;
  overflow: hidden;
}

.main-admin .text-wrapper-3 {
  position: absolute;
  width: 10px;
  height: 268px;
  top: 25px;
  left: 8px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.main-admin .frame-3 {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #046683;
}

.main-admin .auto-layout-wrapper {
  position: absolute;
  width: 1280px;
  height: 40px;
  top: 16px;
  left: 320px;
}

.main-admin .auto-layout {
  display: inline-flex;
  align-items: flex-start;
  gap: 418.66px;
  position: relative;
  left: 64px;
}

.main-admin .frame-4 {
  position: relative;
  width: 388.16px;
  height: 40px;
}

.main-admin .frame-5 {
  position: relative;
  width: 393.19px;
  height: 40px;
}

.main-admin .log-out-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 5px 9.27px 5px 9px;
  position: absolute;
  top: 22px;
  left: 1748px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #d0d7de;
}

.main-admin .log-out {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.main-admin .img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 4px;
  left: 84px;
  object-fit: cover;
}

.main-admin .user {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 19px;
  left: 1842px;
  object-fit: cover;
}

.main-admin .overlap-3 {
  position: absolute;
  width: 1920px;
  height: 112px;
  top: 2388px;
  left: 0;
}

.main-admin .rectangle-2 {
  position: absolute;
  width: 1920px;
  height: 105px;
  top: 7px;
  left: 0;
  background-color: #046683;
}

.main-admin .frame-wrapper {
  position: absolute;
  width: 1280px;
  height: 68px;
  top: 0;
  left: 100px;
  opacity: 0.42;
}

.main-admin .frame-6 {
  position: relative;
  width: 454px;
  height: 18px;
  top: 25px;
  left: 16px;
}

.main-admin .text-wrapper-4 {
  position: absolute;
  height: 18px;
  top: 25px;
  left: -10px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.main-admin .overlap-4 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1215px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .overlap-5 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 61px;
  left: 1615px;
}

.main-admin .ellipse-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 49px;
  left: 131px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main-admin .button-2 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 66px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px; 
} /*Change top 61 --> 66 Add BG color , Border */


.main-admin .password-3 {
  top: 70px;
  left: 313px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .password-4 {
  position: absolute;
  width: 371px;
  top: 70px;
  left: 849px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .overlap-7 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1415px;
  left: 1px;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .overlap-8 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 73px;
  left: 1614px;
}

.main-admin .img-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 47px;
  left: 123px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main-admin .button-3 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 77px;
  left: 1379px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px;
}  /*Change top 72 --> 77 Add BG color , Border */

.main-admin .password-5 {
  top: 70px;
  left: 305px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .password-6 {
  top: 71px;
  left: 848px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .overlap-10 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1615px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .overlap-11 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 60px;
  left: 1615px;
}

.main-admin .overlap-12 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 124px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
} 

.main-admin .password-7 {
  top: 57px;
  left: 304px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .password-8 {
  top: 61px;
  left: 849px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .button-4 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 65px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px;
} /*Change top 60 --> 65 Add BG color , Border */

.main-admin .overlap-14 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1815px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .overlap-15 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 138px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main-admin .password-9 {
  top: 70px;
  left: 320px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .button-5 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 77px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px;
} /*Change top 72 --> 77 Add BG color , Border */

.main-admin .overlap-17 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 72px;
  left: 1615px;
}

.main-admin .overlap-18 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 1015px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .overlap-19 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 48px;
  left: 1615px;
}

.main-admin .overlap-20 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 33px;
  left: 131px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main-admin .password-10 {
  top: 46px;
  left: 313px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .button-6 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 54px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px; 
} /*Change top 49 --> 54 Add BG color , Border */

.main-admin .password-11 {
  top: 46px;
  left: 849px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .overlap-22 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 815px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .overlap-23 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 41px;
  left: 138px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main-admin .password-12 {
  top: 58px;
  left: 313px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .button-7 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 62px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px; 
} /*Change top 57 --> 62 Add BG color , Border */

.main-admin .overlap-25 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 57px;
  left: 1615px;
}

.main-admin .password-13 {
  top: 58px;
  left: 849px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .overlap-26 {
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 615px;
  left: 0;
  background-color: #d9d9d9b2;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .overlap-27 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 32px;
  left: 145px;
  background-image: url(https://c.animaapp.com/kvmV61Vo/img/ellipse-12-1.svg);
  background-size: 100% 100%;
}

.main-admin .overlap-28 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 43px;
  left: 1615px;
}

.main-admin .button-8 {
  position: absolute;
  width: 142px;
  height: 60px;
  top: 48px;
  left: 1380px;
  /* background-image: url(https://c.animaapp.com/kvmV61Vo/img/rectangle-174-1.svg); */
  background-size: 100% 100%;
  background-color: #E45454;
  border-radius: 10px; 
} /*Change top 43 --> 48 Add BG color , Border */

.main-admin .password-14 {
  top: 59px;
  left: 319px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .overlap-30 {
  position: absolute;
  width: 859px;
  height: 131px;
  top: 93px;
  left: -22px;
}

.main-admin .rectangle-3 {
  position: absolute;
  width: 794px;
  height: 131px;
  top: 0;
  left: 0;
  background-color: #efd7adad;
}

.main-admin .rectangle-4 {
  position: absolute;
  width: 847px;
  height: 100px;
  top: 0;
  left: 12px;
  background-color: #48a0b6cc;
}

.main-admin .text-wrapper-5 {
  position: absolute;
  top: 34px;
  left: 247px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: #000000;
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  white-space: nowrap;
  font-style: var(--h2-font-style);
}

.main-admin .button-9 {
  position: absolute;
  width: 184px;
  height: 77px;
  top: 158px;
  left: 1634px;
  background-color: #dcbd85;
  border-radius: 20px;
}

/* .main-admin .rectangle-5 {
  position: absolute;
  width: 184px;
  height: 77px;
  top: 0;
  left: 0;
  background-color: #dcbd85;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
} */

.main-admin .password-15 {
  top: 10px;
  left: -95px;
  position: absolute;
  width: 371px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-admin .overlap-32 {
  position: absolute;
  width: 184px;
  height: 77px;
  top: 286px;
  left: 1634px;
  background-color: #047b8373;
  border-radius: 20px;
  border-color: #000000;
}

.main-admin .text-wrapper-6 {
  top: 15px;
  left: 6px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.main-admin .overlap-33 {
  position: absolute;
  width: 384px;
  height: 100px;
  top: 275px;
  left: 70px;
}

.main-admin .rectangle-6 {
  position: absolute;
  width: 350px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #efd7add9;
  border-radius: 10px;
  /* border: 1px solid; */
  border-color: #000000;
}

.main-admin .text-wrapper-7 {
  width: 294px;
  top: 25px;
  left: 20px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
} /*Change Left 90 --> 20*/

.main-admin .overlap-34 {
  position: absolute;
  width: 394px;
  height: 100px;
  top: 275px;
  left: 470px;
}

.main-admin .text-wrapper-8 {
  width: 284px;
  top: 25px;
  left: 30px;
  color: #000000;
  font-size: 36px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
} /*Change Left 110 --> 30*/

.main-admin .overlap-35 {
  position: absolute;
  width: 358px;
  height: 100px;
  top: 275px;
  left: 870px;
}

.main-admin .text-wrapper-9 {
  width: 288px;
  top: 25px;
  left: 30px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
} /*Change Left 70 --> 30*/

.main-admin .window-food {
  position: absolute;
  width: 1920px;
  height: 2000px;
  top: 415px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}

.main-admin .card-detail {
  display: flex;
  color: #333;
  font-size: 60px;
  text-decoration: none; 
  padding: 30px;
  align-items: center;
  height: 200px;
  background-color: #d9d9d9b2;
  border: 1px solid;
}

.main-admin .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 150px;
}

.main-admin .menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
